{% load static %}
<footer class="footer">
    <div class="container footer-item">
        <div class="copyright">
            <p>Real Blog Copyright © 2025</p>
        </div>
        <div class="social">
            <a target='_' href="#"><img src="{% static 'blog_app/img/facebook.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'blog_app/img/instagram.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'blog_app/img/linkedin.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'blog_app/img/twitter.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'blog_app/img/youtube.png' %}" alt=""></a>
        </div>
        
    </div>
</footer>