{% extends 'blog_app/base.html' %}
{% block title %}{{block.super}} | Password Change{{auth}}{% endblock title %}
{% block main %}
<div class="container">
    <form action="" method="POST" class="pass_change" novalidate>
        {% csrf_token %}
        <p>Password Change</p>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="error"> {{error}}</p>
            {% endfor %}
        {% endif %}
        {% for field in form %}
            <div>
                {{field.label_tag}}
                {{field}}
                <span style="display:inline-block;">{{field.errors|striptags}}</span>
            </div>
        {% endfor %}
        <button >Save</button>
    </form>
</div>
{% endblock main %}